.form-fullscreen {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 200;
}

.form-fullscreen::-webkit-scrollbar {
    display: none;
}

mapbox-address-autofill {
    z-index: 99999;
}

.form-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: aqua;
    width: 50vw;
    height: 100vh;
    background: rgb(41, 2, 31);
    background: linear-gradient(180deg, rgba(41, 2, 31, 1) 0%, rgba(224, 20, 77, 1) 80%, rgba(255, 119, 157, 1) 100%);
}

.form-logo {
    position: absolute;
    padding: 20px;
}

.form-title {
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-title h1 {
    color: white;
    font-size: 40px;
}

.form-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 50vw;
    height: 100vh;
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.6);
}

.form-top {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    padding: 20px;
}

.form-content {
    padding: 50px;
    box-sizing: border-box;
}

.form-input-standalone {
    margin-bottom: 20px;
}

.form-controls {
    position: absolute;
    bottom: 0;
    width: 50vw;
    height: 70px;
    border-top: solid 1px #ededed;
    background-color: white;
    z-index: 9999;
}

.statusbar {
    position: absolute;
    height: 2px;
    background-color: #DC3333;
    transition: all 1s ease-in-out;
}

.form-buttons {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.button:disabled {
    background-color: #bababa;
    border: 1px solid #bababa!important;
    color: #e5e5e5;
}

.button:disabled:hover {
    background-color: #bababa!important;
    cursor: default;
}

/* Amenity icons */

.amenities {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.amenity-item {
    display: block;
    position: relative;
    min-width: 30%;
    height: 150px;
}

.amenity-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #bababa;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.amenity-checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    opacity: 0%;
}

.amenity-icon-image {
    width: 30px;
    object-fit: contain;
}

.amenity-name {
    user-select: none;
}

.amenity-item .amenity-checkbox:checked ~ .amenity-item-content {
    border: 3px solid #DC3333;
}

@media screen and (max-width: 800px) {

    .form-fullscreen {
        flex-direction: column;
    }

    .form-left {
        position: fixed;
        justify-content: flex-start;
        height: 100vh;
        width: 100vw;
        top: 0;
    }
    
    .form-logo {
        width: 80px;
        object-fit: contain;
    }

    .form-title {
        height: 30vh;
        padding: 50px 20px 20px 20px;
    }

    .form-title h1 {
        font-size: 30px;
    }

    .form-right {
        position: absolute;
        justify-content: flex-start;
        top: 0;
        width: 100vw;
        margin-top: 30vh;
        height: auto;
        min-height: 70vh;
        border-radius: 15px 15px 0 0;
    }

    .form-content {
        padding-bottom: 120px;
    }

    .form-top {
        position: absolute;
        right: 0;
    }

    .form-controls {
        position: fixed;
        bottom: 0;
        width: 100vw;
    }
}