* {
  font-family: 'Cabin', sans-serif;
  color: #3D3D3D;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 27px;
}

.container {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 50px;
}

.button {
  border: 1px solid #D9D9D9;
  background-color: #FFF;
  height: 40px;
}

.button-text {
  padding: 0 15px 0 15px;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media screen and (max-width: 700px) {
  .container {
    padding: 0 20px;
  }
}